<nz-page-header
  nzTitle="物资管理"
  nzSubtitle="物资添加、删除"
  [nzGhost]="false"
></nz-page-header>

<nz-card>
  <p>添加物资</p>
  <div nz-row>
    <div nz-col nzSpan="6">
      <nz-select [(ngModel)]="addPlace" style="width: 100%">
        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
        <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
        <nz-option nzValue="tom" nzLabel="Tom"></nz-option>
        <nz-option nzValue="mike" nzLabel="Mike"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="6">
      <nz-select [(ngModel)]="addValue" style="width: 100%">
        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
        <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
        <nz-option nzValue="tom" nzLabel="Tom"></nz-option>
        <nz-option nzValue="mike" nzLabel="Mike"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="6">
      <nz-input-number
        [(ngModel)]="addQuantity"
        [nzMin]="1"
        [nzStep]="1"
        style="width: 100%"
      ></nz-input-number>
    </div>
    <div nz-col nzSpan="6">
      <button
        nz-button
        nzType="primary"
        (click)="addItem(addPlace, addValue, addQuantity)"
      >
        添加
      </button>
    </div>
  </div>
</nz-card>

<nz-card>
  <p>删除物资</p>
  <div nz-row>
    <div nz-col nzSpan="6">
      <nz-select [(ngModel)]="deletePlace" style="width: 100%">
        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
        <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
        <nz-option nzValue="tom" nzLabel="Tom"></nz-option>
        <nz-option nzValue="mike" nzLabel="Mike"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="6">
      <nz-select [(ngModel)]="deleteValue" style="width: 100%">
        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
        <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
        <nz-option nzValue="tom" nzLabel="Tom"></nz-option>
        <nz-option nzValue="mike" nzLabel="Mike"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="6">
      <nz-input-number
        [(ngModel)]="deleteQuantity"
        [nzMin]="1"
        [nzStep]="1"
        style="width: 100%"
      ></nz-input-number>
    </div>
    <div nz-col nzSpan="6">
      <button
        nz-button
        nzType="primary"
        (click)="deleteItem(deletePlace, deleteValue, deleteQuantity)"
      >
        删除
      </button>
    </div>
  </div>
</nz-card>

<nz-card>
  <p>物资可视化</p>
  <button nz-button nzType="primary" (click)="show()">查看物资</button>
</nz-card>

<nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th
        *ngFor="let column of listOfColumns"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
      >
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>{{ data.place }}</td>
      <td>{{ data.item1 }}</td>
      <td>{{ data.item2 }}</td>
      <td>{{ data.item3 }}</td>
      <td>{{ data.item4 }}</td>
      <td>{{ data.item5 }}</td>
    </tr>
  </tbody>
</nz-table>
