<nz-page-header
  nzTitle="物资管理"
  nzSubtitle="物资添加、删除"
  [nzGhost]="false"
></nz-page-header>

<nz-card>
  <p>添加物资</p>
  <div nz-row>
    <div nz-col nzSpan="6">
      <nz-select [(ngModel)]="addPlace" style="width: 100%">
        <nz-option
          *ngFor="let place of places"
          [nzValue]="place.id"
          [nzLabel]="place.name"
        ></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="6">
      <nz-select
        nzShowSearch
        nzAllowClear
        [nzDropdownRender]="addRenderTemplate"
        nzPlaceHolder=""
        [(ngModel)]="addValue"
        style="width: 100%"
      >
        <nz-option
          *ngFor="let good of goodsHeaders"
          [nzValue]="good"
          [nzLabel]="good"
        ></nz-option>
      </nz-select>
      <ng-template #addRenderTemplate>
        <nz-divider></nz-divider>
        <div class="container">
          <input type="text" nz-input #addInputElement />
          <a
            class="add-item"
            (click)="addItem(addPlace, null, addQuantity, addInputElement)"
          >
            <span nz-icon nzType="plus"></span>
            添加新物资类型
          </a>
        </div>
      </ng-template>
    </div>
    <div nz-col nzSpan="6">
      <nz-input-number
        [(ngModel)]="addQuantity"
        [nzMin]="1"
        [nzStep]="1"
        style="width: 100%"
      ></nz-input-number>
    </div>
    <div nz-col nzSpan="6">
      <button
        nz-button
        nzType="primary"
        (click)="addItem(addPlace, addValue, addQuantity)"
      >
        添加
      </button>
    </div>
  </div>
</nz-card>

<nz-card>
  <p>删除物资</p>
  <div nz-row>
    <div nz-col nzSpan="6">
      <nz-select [(ngModel)]="deletePlace" style="width: 100%">
        <nz-option
          *ngFor="let place of places"
          [nzValue]="place.id"
          [nzLabel]="place.name"
        ></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="6">
      <nz-select
        nzShowSearch
        nzAllowClear
        [nzDropdownRender]="deleteRenderTemplate"
        nzPlaceHolder=""
        [(ngModel)]="deleteValue"
        style="width: 100%"
      >
        <nz-option
          *ngFor="let good of goodsHeaders"
          [nzValue]="good"
          [nzLabel]="good"
        ></nz-option>
      </nz-select>
      <ng-template #deleteRenderTemplate>
        <nz-divider></nz-divider>
        <div class="container">
          <input type="text" nz-input #deleteInputElement />
          <a
            class="add-item"
            (click)="
              deleteItem(deletePlace, null, deleteQuantity, deleteInputElement)
            "
          >
            <span nz-icon nzType="plus"></span>
            添加新物资类型
          </a>
        </div>
      </ng-template>
    </div>
    <div nz-col nzSpan="6">
      <nz-input-number
        [(ngModel)]="deleteQuantity"
        [nzMin]="1"
        [nzStep]="1"
        style="width: 100%"
      ></nz-input-number>
    </div>
    <div nz-col nzSpan="6">
      <button
        nz-button
        nzType="primary"
        (click)="deleteItem(deletePlace, deleteValue, deleteQuantity)"
      >
        删除
      </button>
    </div>
  </div>
</nz-card>

<nz-card>
  <p>物资可视化</p>
  <button nz-button nzType="primary" (click)="getItem()">查看物资</button>
</nz-card>

<nz-table #expandTable [nzData]="listOfMapData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th>ID</th>
      <!-- 新增ID列 -->
      <th>Name</th>
      <th *ngFor="let header of goodsHeaders">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of expandTable.data">
      <td>{{ data.id }}</td>
      <!-- 显示城市ID -->
      <td>{{ data.name }}</td>
      <td *ngFor="let amount of data.goodsamount_list">{{ amount }}</td>
    </tr>
  </tbody>
</nz-table>
