<ul nz-menu nzMode="inline" style="width: 240px">
  @for (menu of menus; track $index) {
    @if (menu.children) {
      <li
        *ngIf="menu.children"
        nz-submenu
        [nzPaddingLeft]="menu.level * 24"
        [nzOpen]="menu.open"
        [nzTitle]="menu.title"
        [nzIcon]="menu.icon"
        [nzDisabled]="menu.disabled"
      >
        <ul>
          <app-layout-menus [menus]="menu.children"></app-layout-menus>
        </ul>
      </li>
    } @else {
      <li
        *ngIf="!menu.children"
        nz-menu-item
        [nzPaddingLeft]="menu.level * 24"
        [nzDisabled]="menu.disabled"
        [nzSelected]="menu.selected"
        nzMatchRouter
        [routerLink]="menu.routerLink"
      >
        <span nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></span>
        <span class="menu-title">{{ menu.title }}</span>
      </li>
    }
  }
</ul>
