<nz-layout class="app-layout">
  <nz-content>
    <div class="inner-content">
      <div class="title">
        <h1>物资调配规划模拟系统</h1>
      </div>
      <div class="buttons">
        <button
          nz-button
          nzSize="large"
          nzType="primary"
          (click)="router.navigate(['login'])"
        >
          用户登录
        </button>
        <button
          nz-button
          nzSize="large"
          nzType="primary"
          (click)="router.navigate(['register'])"
        >
          用户注册
        </button>
      </div>
    </div>
  </nz-content>
</nz-layout>
